{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": 0,
    "comma-dangle": ["error", "always-multiline"]
  }
}
